body{
    margin: 0;
    width: 100%;
    height: 100%;
    
}


#imgPortada{
    width: 60%;
    max-height: 50%;
    margin-right: 0;
    height: 50em;
   
}
 #logo{
    position: relative;
    left: -40px;
    width: 110%;
    padding-left: 0.7em;
 }

 .texto{
     width: 30%;
    font-size: 22px;    
    font-family: Roboto;   
   float: right;
   margin: 2% 5%;
   padding-bottom: 1px;
   
}

.texto p{
    line-height: 1.4;
    text-align: justify;
}