body{
    margin: 0;
    
}


 #logo{
    float: right;
   /*  margin: 30px 80px; */
 }

 .texto{
    font-size: 22px;
    font-family: Roboto;
   /*  border: red solid 1px; */
    width: 500px;
    float: right;
    margin: 30px 100px;
   
 }

.texto p{
    padding-top: 250px;
    line-height: 1.5;
}